In [6]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

n_days = 180
n_products = 10
categories = ['Electronics', 'Fashion', 'Home', 'Books', 'Toys']
start_date = datetime(2023, 1, 1)


product_ids = [f"P{i:04d}" for i in range(1, n_products + 1)]
product_info = {
    pid: {
        'category': np.random.choice(categories),
        'base_price': np.random.uniform(20, 100)
    }
    for pid in product_ids
}


data = []
for day in range(n_days):
    date = start_date + timedelta(days=day)
    is_holiday = int(date.weekday() in [5, 6])  

    for pid in product_ids:
        info = product_info[pid]
        base_price = info['base_price']
        category = info['category']

        
        price = round(np.random.normal(base_price, 3), 2)
        competitor_price = round(price + np.random.normal(0, 2), 2)

        
        page_views = int(np.random.normal(100, 20) + is_holiday * 20)

        
        inventory = np.random.randint(50, 200)

        
        demand_noise = np.random.normal(0, 5)
        price_diff = competitor_price - price
        units_sold = max(0, int((page_views * 0.2 + price_diff * 2 + is_holiday * 5) + demand_noise))

        data.append({
            "date": date,
            "product_id": pid,
            "category": category,
            "price": price,
            "competitor_price": competitor_price,
            "inventory": inventory,
            "units_sold": units_sold,
            "page_views": page_views,
            "is_holiday": is_holiday
        })

df = pd.DataFrame(data)
df.to_csv("sales_data.csv", index=False)

,date,product_id,category,price,competitor_price,inventory,units_sold,page_views,is_holiday
0,2023-01-01,P0001,Home,16.56,16.13,150,25,127,1
1,2023-01-01,P0002,Fashion,80.77,79.72,170,23,102,1
2,2023-01-01,P0003,Home,47.48,48.74,64,28,103,1
3,2023-01-01,P0004,Books,64.56,66.67,193,38,118,1
4,2023-01-01,P0005,Home,83.78,82.18,57,19,92,1
...,...,...,...,...,...,...,...,...,...
1795,2023-06-29,P0006,Electronics,88.14,87.38,163,22,90,0
1796,2023-06-29,P0007,Books,59.59,61.31,178,29,118,0
1797,2023-06-29,P0008,Books,70.84,71.29,64,25,101,0
1798,2023-06-29,P0009,Toys,79.75,80.86,149,15,115,0
1799,2023-06-29,P0010,Fashion,42.21,46.33,183,37,131,0